<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Souji-Touban Admin</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ripples.min.css" rel="stylesheet">
    <link href="/css/material-wfont.min.css" rel="stylesheet">
    <link href="/css/snackbar.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Souji-Touban Admin</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if request.path_info.start_with? '/admin/users' %>
              <li class="active"><a href="/admin/users">Users</a></li>
            <% else %>
              <li><a href="/admin/users">Users</a></li>
            <% end %>

            <% if request.path_info.start_with? '/admin/tasks' %>
              <li class="active"><a href="/admin/tasks">Tasks</a></li>
            <% else %>
              <li><a href="/admin/tasks">Tasks</a></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-left">
              <input type="text" class="form-control col-lg-8" placeholder="Search">
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
