<div class="list-group">
  <% @users.each do |user| %>
    <div class="list-group-item">
      <div class="row-picture">
        <i class="icon-material-person"></i>
      </div>
      <div class="row-content">
        <div class="action-secondary">
          <% if user.tasks.empty? %>
            <span class="label label-default">なし</span>
          <% else %>
            <% user.tasks.each do |task| %>
              <span class="label label-danger"><%= task.name %></span>
            <% end %>
          <% end %>
        </div>
        <h4 class="list-group-item-heading"><%= user.name %></h4>
        <p class="list-group-item-text"><%= user.slack_id %></p>
      </div>
    </div>

    <div class="list-group-separator"></div>
  <% end %>
</div>
