<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <% if user.tasks.empty? %>
            <span class="label label-default">なし</span>
          <% else %>
            <% user.tasks.each do |task| %>
              <span class="label label-primary"><%= task.name %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
