<div class="action">
  <a href="/admin/tasks/add" class="btn btn-primary btn-fab btn-raised icon-material-add"></a>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.users.map { |e| e.name }.join(',') %></td>
        <td>
          <a href="#" class="task-delete icon-material-delete" value="<%= task.id %>"></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
