<form class="form-horizontal" id="user-add">
  <fieldset>
    <legend>Add User</legend>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName" name="user[name]" placeholder="Name">
        </div>
      </div>

      <div class="form-group">
        <label for="inputSlackId" class="col-lg-2 control-label">Slack ID</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputSlackId" name="user[slack_id]" placeholder="Slack ID">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <a href="/admin/users" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </fieldset>
</form>
