<div class="action">
  <a href="/admin/users/add" class="btn btn-primary btn-fab btn-raised icon-material-add"></a>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slack ID</th>
      <th>Task</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.slack_id %></td>
        <td>
          <% if user.tasks.empty? %>
            <span class="label label-default">なし</span>
          <% else %>
            <% user.tasks.each do |task| %>
              <span class="label label-primary"><%= task.name %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <a href="#" class="user-delete icon-material-delete" value="<%= user.id %>"></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
